USE [ProjectDB]
GO
/****** Object:  Table [dbo].[Papers]    Script Date: 4.05.2026 22:19:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Papers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaperId] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Abstract] [nvarchar](max) NOT NULL,
	[PublicationYear] [int] NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Authors] [nvarchar](max) NULL,
	[NoveltyScore] [float] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PaperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Papers] ADD  DEFAULT ((0)) FOR [NoveltyScore]
GO
ALTER TABLE [dbo].[Papers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
